@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

body * {
  -webkit-font-smoothing: antialised !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px !important;
}
